<!-- <md-toolbar class="filterBar" style="min-height:37px">
	<div class="md-toolbar-tools" style="height:37px" >
		<!-- To be defined 
	</div>
</md-toolbar> -->
<md-subheader class="md-no-sticky">Latest Activity</md-subheader>
<md-divider></md-divider>
<md-content>
	<md-list flex="100" ng-repeat="card in cards._embedded['ora:flowcard']"
	infinite-scroll="ctrl.loadMore()"
	infinite-scroll-distance="1"
	infinite-scroll-parent="true"
	infinite-scroll-disabled="cards.total == cards.count || isLoadingMore"
	infinite-scroll-immediate-check="false">
	<md-list-item class="md-3-line md-padding">
		<flow-icon type="card.type"></flow-icon>
		<div class="md-list-item-text md-padding">
			<p class="flow-type">{{card.type | flowTypeLabel}}</p>
			<h1 class="flow-title"  >{{card.title}}</h1>
			<p class="flow-description justify padding-right-30">{{card.content.description}}</p>
		</div>
		<div layout="column">
			<p am-time-ago="card.createdAt" class="p-size"></p>
			<md-button ng-click="ctrl.route(card, 'primary')" class="md-icon-button">
				<md-icon style="font-size: 36px;" class="material-icons">&#xE315;</md-icon>
			</mdbutton>
		</div>
	</md-list-item>
	<md-divider style="margin-left: 70px;"></md-divider>
</md-list>
<div style="height: 48px;"></div>
</md-content>
