<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Side Nav" ng-click="toggleLeft()" hide-gt-md>
			<md-icon md-svg-icon="menu" alt="menu"></md-icon>
		</md-button>
		<h2>Flow</h2>
		<span flex></span>
		<md-button class="md-icon-button" aria-label="Search">
			<md-icon md-svg-icon="search"></md-icon>
		</md-button>
		<md-button class="md-icon-button" aria-label="More">
			<md-icon md-svg-icon="more"></md-icon>
		</md-button>
	</div>
</md-toolbar>
<md-content class="md-padding">
	<md-card ng-repeat="card in cards._embedded['ora:flowcard']" infinite-scroll="ctrl.loadMore()" infinite-scroll-distance="1" infinite-scroll-parent="true" infinite-scroll-disabled="cards.total == cards.count || isLoadingMore" infinite-scroll-immediate-check="false">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">{{card.title}}</span>
				<span class="md-subhead">{{card.createdAt | date:'short' }}</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<p>{{card.content.description}}</p>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<md-button class="md-secondary" aria-label="{{card.content.actions.secondary.text}}" ng-click="ctrl.route(card, 'secondary')" ng-if="card.content.actions.secondary.length > 0">{{card.content.actions.secondary.text}}</md-button>
			<md-button class="md-secondary" aria-label="{{card.content.actions.primary.text}}" ng-click="ctrl.route(card, 'primary')">{{card.content.actions.primary.text}}</md-button>
		</md-card-actions>
	</md-card>
	<md-card>
		<md-card-content>
			<h2 class="md-title">Welcome to O.R.A.</h2>
			<p>Your flow is where you will find notifications about most relevant events in your organizations, suggestions on how to contribute to activities and much more. Check it out frequently!</p>
		</md-card-content>
		<div class="md-actions" layout="row" layout-align="end center">
			<md-button>Dismiss</md-button>
			<md-button>Action 2</md-button>
		</div>
	</md-card>
	<md-card>
		<md-card-content>
			<h2 class="md-title">Select your organization</h2>
			<p>Select an organization from the side bar and start contributing! Or, if you are not yet member of any organization, join one the available organizations</p>
		</md-card-content>
		<div class="md-actions" layout="row" layout-align="end center">
			<md-button ui-sref="organizations">Join</md-button>
		</div>
	</md-card>
</md-content>