<div class="navigation">
    <md-tabs
        data-ng-if="organizationId && selectedIndex >= 0"
        style="width: 100%; position: absolute; bottom: 0; background-color:white;"
        md-dynamic-height
        md-no-ink-bar
        md-selected="selectedIndex"
        md-stretch-tabs="always">
        	<md-tab  style="padding: 0px;" ui-sref="org.collaboration({ orgId: organizationId })" >
                <label layout="column"  layout-align="space-between center" >
                    <div style="height: 18px; width: 18px; margin-bottom: -4px;"></div>
                    <span>Items</span>
                </label>
        	</md-tab>
        	<md-tab style="padding: 0px;" ui-sref="org.organizationStatement({ orgId: organizationId })">
                <label layout="column"  layout-align="space-between center" >
                    <div style="height: 18px; width: 18px; margin-bottom: -4px;"></div>
                    <span>Credits</span>
                </label>
        	</md-tab>
        	<md-tab style="padding: 0px;" ui-sref="flow">
                <label layout="column"  layout-align="space-between center" >
                  	<img style="height: 18px; width: 18px; margin-bottom: -4px;" ng-src="img/immagine.png"/>
                    <span>Flow</span>
                </label>
        	</md-tab>
        	<md-tab style="padding: 0px;" ui-sref="org.decisions({ orgId: organizationId })">
                <label layout="column"  layout-align="space-between center" >
                    <div style="height: 18px; width: 18px; margin-bottom: -4px;"></div>
                    <span>Decisions</span>
                </label>
        	</md-tab>
        	<md-tab style="padding: 0px;" ui-sref="org.people({ orgId: organizationId })">
                <label layout="column"  layout-align="space-between center" >
                    <div style="height: 18px; width: 18px; margin-bottom: -4px;"></div>
                    <span>People</span>
                </label>
        	</md-tab>
    </md-tabs>
</div>
