<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Side Nav" ng-click="toggleLeft()" hide-gt-md>
			<md-icon md-svg-icon="menu" alt="menu"></md-icon>
		</md-button>
		<h2>{{ organization.name }}</h2>
		<span flex></span>
		<h2>{{ pillar.name }}</h2>
		<span flex></span>
		<md-menu>
			<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open menu">
				<md-icon md-svg-icon="more"></md-icon>
			</md-button>
			<md-menu-content width=4>
				<md-menu-item><md-button ui-sref="org.collaboration" aria-label="Items">Items</md-button></md-menu-item>
				<md-menu-item><md-button ui-sref="org.organizationStatement" aria-label="Credits">Credits</md-button></md-menu-item>
				<md-menu-item><md-button ui-sref="org.decisions" aria-label="Decisions">Decisions</md-button></md-menu-item>
				<md-menu-item><md-button ui-sref="org.people" aria-label="People">People</md-button></md-menu-item>
				<md-menu-item><md-button ui-sref="org.settings" aria-label="Settings">Settings</md-button></md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>
</md-toolbar>
<md-content ui-view></md-content>
