
<md-toolbar>
	<div class="md-toolbar-tools" ng-if="!showBack">
		<div class="organization-logo hand-pointer" data-ng-click="toggleLeft();">
			{{organization | organizationInitials}}
		</div>
		<h2 class="stream-subject"> {{stream.subject}} &nbsp> &nbsp </h2>  <h2>{{ pillar.name }}</h2>
		<span flex></span>
	</div>
	<!-- Back -->
	<div class="md-toolbar-tools" ng-if="showBack">
		<md-button class="md-icon-button" ng-click="goBack();">
			<i class="material-icons" title="Back">&#xE317;</i>
		</md-button>
		<h2> back </h2>
		<span flex></span>
	</div>
</md-toolbar>
<div class="bkg-color-secondary content-wrapper" data-ng-if="!fullHeight" flex ui-view></div>
<div class="bkg-color-secondary content-wrapper" data-ng-if="fullHeight" layout="row" flex ui-view></div>
<navigation-bar class="navigation-wrapper"><navigation-bar/>
