<md-menu md-position-mode="target-right target">
    <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu()">
        <md-icon class="material-icons">&#xE8B8;</md-icon>
    </md-button>
    <md-menu-content>
        <md-menu-item>
            <p>Settings</p>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item ui-sref="org.settings">
            <p>Organisation Settings</p>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item ng-if="identity.isAuthenticated()" ng-click="signOut()">
            <p>Logout</p>
        </md-menu-item>
    </md-menu-content>
</md-menu>
