md-list.members md-list-item {
    padding: 0;
}
md-list.members .md-button {
    padding: 0;
    margin: 0;
    min-width: 0;
}
md-icon.owner {
    margin-left: -28px;
    margin-bottom: 4px;
}
md-sidenav .md-button {
    text-align: left;
}
td img.md-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 8px 16px 8px 0;
    box-sizing: content-box;
}
.dialog {
    width: 50%;
    max-width: 600px;
    min-width: 300px
}
.stats tbody th {
    text-align: left;
}
.stats tbody td {
    text-align: right;
}
md-content {
    background-color: transparent;
}