body { padding-top: 50px; }	/* From Bootstrap guide */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; } /* Required by Angular-UI */

body {
    color: #4d4d4d;
}

.context-menu button {
	background: transparent;
	border: 0;
	padding: 0;
	--webkit-appearance: none;
}