<md-dialog aria-label="Approve Item">
	<md-dialog-content>
		<div class="md-dialog-content" layout="column">
			<h2>{{title}}</h2>
			<md-input-container>
				<label>Description</label>
				<input data-ng-model="description" name="description" type="text" >

			</md-input-container>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row" layout-align="end center">
		<md-button type="button" ng-click="dialogCtrl.cancel()">Cancel</md-button>
		<md-button type="button" ng-click="dialogCtrl.abstain()" class="md-accent">abstain</md-button>
		<md-button type="button" ng-click="dialogCtrl.accept()" class="md-accent">accept</md-button>
		<md-button type="button" ng-click="dialogCtrl.reject()" class="md-accent">reject</md-button>
	</md-dialog-actions>
</md-dialog>
