<md-dialog aria-label="Assign Shares" ng-cloak>
	<form name="form" ng-submit="dialogCtrl.submit()" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Assign Shares</h2>
				<span flex></span>
				<md-button type="button" class="md-icon-button" ng-click="dialogCtrl.cancel()">
					<md-icon class="material-icons" aria-label="Close dialog">&#xE5CD;</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				<p>Assign a contribution percentage to each member. You have to distribute {{ available }} remaining points</p>
				<div ng-messages="form.$error" role="alert" style="font-size: 12px; color: Red">
					<div ng-message="remote">{{ form.$error.remote }}</div>
				</div>
				<md-list>
					<md-list-item ng-repeat="member in item.members" ng-init="m = user(member)">
						<img ng-src="{{ m.picture }}" class="md-avatar" alt="{{ m.firstname }} {{ m.lastname}}" title="{{ m.firstname }} {{ m.lastname}}">
						<md-input-container flex>
							<label>{{ m.firstname }} {{ m.lastname }}</label>
							<input data-ng-model="shares[member.id]" name="{{ member.id }}" type="number" min="0" max="100" required ng-change="dialogCtrl.updatePercentage()">
							<div ng-messages="form[member.id].$error" role="alert">
								<div ng-message="required">Value is required</div>
								<div ng-message="min">Value must be greater than 0</div>
								<div ng-message="max">Value must be less than 100</div>
								<div ng-message="remote">{{ form.value.$error.remote }}</div>
							</div>
						</md-input-container>
					</md-list-item>
				</md-list>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" layout-align="end center">
			<md-button type="button" ng-click="dialogCtrl.cancel()">Cancel</md-button>
			<md-button type="button" ng-click="dialogCtrl.skip()" class="md-accent">Skip</md-button>
			<md-button type="submit" style="margin-right:20px;" class="md-primary" ng-disabled="form.$invalid || available !== 0">Submit</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>