<md-dialog aria-label="Edit Item">
	<form name="form" ng-submit="dialogCtrl.submit()" novalidate>
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				<h2>Edit Item</h2>
				<md-input-container>
					<label>Subject</label>
					<input data-ng-model="item.subject" name="subject" type="text" required>
					<div ng-messages="form.subject.$error" role="alert">
						<div ng-message="required">Subject is required</div>
						<div ng-message="remote">{{ form.subject.$error.remote }}</div>
					</div>
				</md-input-container>
				<md-input-container data-ng-if="lanes.length > 0">
					<label>Lane</label>
					<md-select data-ng-model="item.lane" name="lane">
						<md-option ng-repeat="lane in lanes" value="{{ lane.lcname }}">{{ lane.lcname }}</md-option>
					</md-select>
					<div ng-messages="form.lane.$error" role="alert">
						<div ng-message="required">Lane is required</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Description</label>
					<textarea data-ng-model="item.description" columns="1" maxlength="420" md-maxlength="420" name="description" required></textarea>
					<div ng-messages="form.description.$error" role="alert">
						<div ng-message="required">Description is required</div>
						<div ng-message="remote">{{ form.description.$error.remote }}</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" layout-align="end center">
			<md-button type="button" ng-click="dialogCtrl.cancel()">Cancel</md-button>
			<md-button type="submit" style="margin-right:20px;" class="md-primary" ng-disabled="form.$invalid">Submit</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
