<form name="form" ng-submit="submit()" novalidate>
	<div class="modal-header">
		<button type="button" class="close" ng-click="$dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Edit item</h4>
	</div>
	<div class="modal-body">
		<div class="alert" role="alert" data-ng-show="messages" data-ng-bind="messages"></div>
		<div class="form-group" ng-class="error('subject')">
			<label for="task.subject">Subject</label>
			<input id="task.subject" type="text" name="subject" class="form-control" required="required" data-ng-model="task.subject">
			<span class="help-block" data-ng-show="form.subject.$error.required">Value is required</span>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
		<button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Submit</button>
	</div>
</form>