<md-dialog aria-label="Edit Item" class="dialog">
	<form name="form" ng-submit="submit()" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Edit Item</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon class="material-icons" aria-label="Close dialog">&#xE5CD;</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<md-input-container>
					<label>Subject</label>
					<input data-ng-model="subject" name="subject" type="text" required>
					<div ng-messages="form.value.$error" role="alert">
						<div ng-message="required">Subject is required</div>
						<div ng-message="remote">{{ form.value.$error.remote }}</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
		<div class="md-actions" layout="row" layout-align="end center">
			<md-button type="button" ng-click="cancel()">Cancel</md-button>
			<md-button type="submit" style="margin-right:20px;" class="md-primary" ng-disabled="form.$invalid">Submit</md-button>
		</div>
	</form>
</md-dialog>