<md-fab-speed-dial md-open="menu.open" md-direction="up" class="md-scale md-fab-bottom-right" style="position: fixed; margin-bottom: 40px;" ng-if="!decisions">
	<md-fab-trigger>
		<md-button aria-label="Item Menu" class="md-fab md-warn md-hue-1">
			<md-icon md-svg-icon="add"></md-icon>
		</md-button>
	</md-fab-trigger>
	<md-fab-actions>
		<md-button aria-label="New Item" class="md-fab md-raised md-mini" ng-click="ctrl.openNewItem($event, false)" ng-if="ctrl.isAllowed('createItem', organization)">
			<md-tooltip tooltip-hack md-direction="left" md-visible="menu.open">Create Working Item</md-tooltip>
			<md-icon md-svg-icon="addItem" title="New Item" style="color: black"></md-icon>
		</md-button>
		<md-button aria-label="New Decision" class="md-fab md-raised md-mini" ng-click="ctrl.openNewItem($event, true)" ng-if="ctrl.isAllowed('createItem', organization)">
			<md-tooltip tooltip-hack md-direction="left" md-visible="menu.open">Create Decision Item</md-tooltip>
			<i class="material-icons" title="New Item" style="margin-top: 6px; color: black">&#xE90E;</i>
		</md-button>
	</md-fab-actions>
</md-fab-speed-dial>
<md-toolbar class="filterBar" style="min-height:37px">
	<div class="md-toolbar-tools" style="height:37px" >
		<md-button   ng-click="showFilter=!showFilter" style="width:100%">
			<span style="text-transform: uppercase;font-size: 10px;font-weight:600" >Filter items by:</span>
			<span flex></span>
			<md-icon style="font-size: 18px;margin-top:5px" class="material-icons">&#xE5C5;</md-icon>
		</md-button>
	</div>
</md-toolbar>
<!--<md-subheader class="md-no-sticky">Filter items by:</md-subheader>-->
<md-content ng-show="showFilter" class="filterBar" layout-padding>
	<div layout="row">
		<span flex></span>
		<md-select style="font-size: 10px; margin: 0px;" placeholder="Status" ng-model="filters.status">
			<md-option selected ng-value="All">All</md-option>
			<md-option ng-repeat="status in ITEM_STATUS" ng-value="{{status}}">{{ status | itemStatusLabel }}</md-option>
		</md-select>
		<span flex></span>
		<md-select style="font-size: 10px; margin: 0px;" placeholder="All Item" ng-model="filters.memberId">
			<md-option value="" selected>All Items</md-option>
			<md-option ng-value="currentUserId">My Items</md-option>
	</md-select>
	<span flex></span>
	</div>
	<div layout="row">
		<span flex></span>
			<span flex></span>
			<p style="font-size: 10px;" ng-click="ctrl.invertUpdateTime()">Update Time</p>
			<md-button style="" class="md-icon-button" ng-click="ctrl.invertUpdateTime()">
				<md-icon data-ng-if="!changeUpdateTime" style="font-size: 18px; color: black;" class="material-icons">&#xE313;</md-icon>
				<md-icon data-ng-if="changeUpdateTime" style="font-size: 18px; color: black;" class="material-icons">&#xE316;</md-icon>
			</md-button>
		<!--<p style="margin-top: 25px; text-decoration: underline; color: black; font-size: 14px;">Status change time</p>
			<md-button style="margin-left: -10px; margin-top: 18px;" class="md-icon-button" ng-click="ctrl.invertStatusTime()">
				<md-icon data-ng-if="!changeStatusTime" style="font-size: 18px; color: black;" class="material-icons">&#xE313;</md-icon>
				<md-icon data-ng-if="changeStatusTime" style="font-size: 18px; color: black;" class="material-icons">&#xE316;</md-icon>
			</md-button>-->
	</div>
</md-content>
<md-card  class="card-item" ng-repeat="item in items._embedded['ora:task']"
ng-init="owner = ctrl.getOwner(item)"
infinite-scroll="ctrl.loadMore()"
infinite-scroll-distance="1"
infinite-scroll-parent="true"
infinite-scroll-disabled="items.total == items.count || isLoadingMore"
infinite-scroll-immediate-check="false">
<md-card-header item-card-color card="item" style="margin-top: -10px;">
	<md-card-header-text>
		<div layout="row">
			<span style="font-size: 13px; margin-bottom:5px;" ng-show="item.decision" >Decision</span>
		</div>
		<span style="font-size: 22px; margin-top: -5px;">
			{{ item.subject }}
		</span>
		<p style="text-transform: uppercase; font-size: 14px; margin-top: 0px;">
			{{ ctrl.stream(item).subject }}
		</p>
		<span style="font-size: 13px; margin-top: -15px; line-height: 14px;" class="md-subhead">
			{{item.description}}
		</span>
		<div layout="row" style="">
			<p style="font-size: 14px;">
				Status:
				<span style="line-height: 16px" class="md-subhead">
					{{item.status | itemStatusLabel}}
				</span>
			</p>
			<span flex></span>
			<!-- TODO: print current value for item -->
			<p style=" font-size: 14px;" data-ng-if="false">
				Current Value:
				<span style="line-height: 16px" class="md-subhead">
					XXXX
				</span>
			</p>
		</div>
	</md-card-header-text>
	<md-card-media layout="column" layout-align="start end">
		<img style="max-width: 40px; border-radius: 50%" ng-src="{{ owner.picture || 'img/account.jpg' }}" alt="{{ owner.firstname }} {{ owner.lastname}}" title="{{ owner.firstname }} {{ owner.lastname}}" ui-sref="org.profile({ memberId: owner.id })" md-ink-ripple>
		<p style="margin-top: 1px; font-size: 14px; font-weight: bold">owner:</p>
		<p style="margin-top: -16px; font-size: 12px; color: gray;">{{ owner.firstname }} {{ owner.lastname}} </p>
	</md-card-media>
</md-card-header>
<!--<p>{{ item | itemStatusResume }}</p>-->

<!--<md-card-actions class="md-hue-2" layout="row" layout-align="end center" ng-if="ctrl.hasActions(item)">
<md-button class="md-secondary" aria-label="Join item" ng-if="ctrl.isAllowed('joinItem', item)" ng-click="ctrl.joinItem(item)">Join</md-button>
<md-button class="md-secondary" aria-label="Estimate item" ng-if="ctrl.isAllowed('estimateItem', item)" ng-click="ctrl.openEstimateItem($event, item)">Estimate</md-button>
<md-button class="md-secondary" aria-label="Assign shares" ng-if="ctrl.isAllowed('assignShares', item)" ng-click="ctrl.openAssignShares($event, item)">Assign Shares</md-button>
</md-card-actions>-->
<div layout="row" style="margin-top: -32px;">
	<p style=" font-size: 12px; margin-top: 12px; margin-left: 16px;">
		Last activity:
		<span style="letter-spacing: .010em; color: rgba(0,0,0,0.54);">
			{{item.mostRecentEditAt | date:'dd/MM/yyyy'}}
		</span>
	</p>
	<span flex></span>
	<md-button class="md-warn md-hue-1" ui-sref="org.item({ orgId: item.organization.id, itemId: item.id })">VIEW ITEM</md-button>
	<div data-ng-if="ctrl.checkImIn(item)" class="md-toolbar-tools" style="height: 40px; width: 90px;  background-color: #607D8B;">
		<div class="im-in-icon">
			<i style="font-size:16px;" class="material-icons">person</i>
		</div>
		<span flex></span>
		<p style="font-size: 14px; margin-top: 25px; color: white; margin-bottom: 25px;">I'm in</p>
	</div>
</div>
</md-card>
<div style="height:48px;"></div>
