<md-card data-ng-if="!busy">
	<md-card-header style="margin-top: -10px;">
		<md-card-header-text ui-sref="org.item({ orgId: item.organization.id, itemId: item.id })">
			<span style="text-transform: uppercase;" class="md-subhead">
				{{item.decision === 'true' ? 'Decision' : ''}}
			</span>
			<span style="font-size: 26px;">
				{{ item.subject }}
			</span>
			<p style="text-transform: uppercase; font-size: 16px;">
				{{ ctrl.stream(item).subject }}
			</p>
			<div layout="row" class="margin-bottom-20" ng-if="item.status != ITEM_STATUS.OPEN">
				<img class="margin-right-20" style="max-width: 60px; max-height: 60px; border-radius: 50%;" ng-src="{{ owner.picture || 'img/account.jpg' }}">
				<div>
					<p class="no-margin no-padding" style="font-size: 14px;">{{item.status | ownerLabel}}:</p>
					<p class="no-margin no-padding warn" style="font-size: 14px;" ng-click="goToProfile(owner.id)"><u> {{ owner.firstname }} {{ owner.lastname }}</u><!-- l'owner--> ({{membershipRole}})<!--ruolo dell'owner--></p>
				</div>
			</div>
			<p style="font-size: 14px; margin-top: -8px;">
				status:
				<span style="line-height: 14px" class="md-subhead">
					{{item.status | itemStatusLabel}}
				</span>
			</p>
			<p style="font-size: 14px; margin-top: -8px;">
				Last Activity:
				<span style="line-height: 14px" class="md-subhead">
					{{item.mostRecentEditAt | date:'dd/MM/yyyy'}}
				</span>
			</p>
			<!-- TODO: print current value for item -->
			<p style="font-size: 14px; margin-top: -8px;" >
				Current Value:
			<span data-ng-if="item.estimation" style="line-height: 14px;" class="md-subhead">{{item.estimation}}&nbspCredits</span>
			<span data-ng-if="!item.estimation" style="line-height: 14px;" class="md-subhead">To Be estimated</span>
			</p>
		</div>
	</md-card-header-text>
</md-card-header>
<md-card-action layout="row" layout-align="end end">
	<p style="padding-right: 30px;" aria-label="Yet Voted"  ng-if="ctrl.iVoted(item)">{{suggest}}</p>
	<md-button class="md-raised md-primary" aria-label="Start item" ng-if="ctrl.isAllowed('executeItem', item)" ng-click="ctrl.executeItem(item)">Start</md-button>
	<md-button class="md-raised md-primary" aria-label="Approve Idea"  ng-if="ctrl.isAllowed('approveIdea', item)" ng-click="ctrl.openApproveIdea($event, item)">Vote</md-button>
	<md-button class="md-raised md-primary" aria-label="Join item" ng-if="ctrl.isAllowed('joinItem', item)" ng-click="ctrl.joinItem(item)">Join</md-button>
	<md-button class="md-raised md-primary" aria-label="Estimate item" ng-if="ctrl.isAllowed('estimateItem', item)" ng-click="ctrl.openEstimateItem($event, item)">Estimate</md-button>
	<md-button class="md-raised md-primary" aria-label="Complete item" ng-if="ctrl.isAllowed('completeItem', item)" ng-click="ctrl.completeItem($event, item)">Mark as Completed</md-button>
	<md-button class="md-raised md-primary" aria-label="Accept item" ng-if="ctrl.isAllowed('acceptItem', item)" ng-click="ctrl.acceptItem($event, item)">Vote for Acceptance</md-button>
	<md-button class="md-raised md-primary" aria-label="Assign shares" ng-if="ctrl.isAllowed('assignShares', item)" ng-click="ctrl.openAssignShares($event, item)">Assign Shares</md-button>
	<md-button class="md-raised md-primary" aria-label="Close item" ng-if="ctrl.isAllowed('closeItem', item)" ng-click="ctrl.closeItem(item)">Mark as Closed</md-button>
	<md-button class="md-raised md-primary" aria-label="Close item" ng-if="ctrl.isAllowed('unjoinItem', item)" ng-click="ctrl.unjoinItem(item)">Unjoin</md-button>
</md-card-action>
<md-divider></md-divider>
<md-card-header>
	<md-card-header-text>
		<md-button class="md-raised md-primary" ng-if="ctrl.isAllowed('editItem', item)" ng-click="ctrl.openEditItem($event,item)">Edit this item</md-button>
	</md-card-header-text>
</md-card-header>
<md-divider></md-divider>
<md-card-header>
	<md-card-header-text>
		<span style="font-size: 14px;" class="md-title">Description</span>
		<span style="font-size: 14px; line-height: 14px; color: gray;" class="md-subhead">
			{{item.description}}
		</span>
	</md-card-header-text>
</md-card-header>
<md-divider></md-divider>
<md-card-header data-ng-if="members.length">
	<md-card-header-text>
		<span style="font-size: 14px;" class="md-title margin-bottom-10">Partecipant List</span>
		<div
			layout="row"
			layout-align="space-between center"
			ng-class="ctrl.isAllowed('showShares', item) && member.share ? 'md-3-line' : 'md-2-line'"
			data-ng-repeat="member in members"
			ng-init="m = user(member)">
			<div layout="row">
				<img style="max-width: 30px; max-height: 30px; border-radius: 50%;" ng-src="{{ member.picture || 'img/account.jpg' }}"  md-ink-ripple>
				<p ng-click="goToProfile(member.id)" class="padding-left-10 margin-top-10 warn no-margin" style=" font-size: 14px; margin-left: 2px;">{{ member.firstname }} {{ member.lastname }} <span style="color:gray;">({{ member.role }})</span></p>
			</div>
				<md-button class="md-icon-button md-accent" data-ng-if="ctrl.isAllowed('removeTaskMember', item.organization)" aria-label="Delete" data-ng-click="ctrl.removeTaskMember($event,item,member)">
					<md-icon class="material-icons" aria-label="delete">delete</md-icon>
				</md-button>
		</div>
	</md-card-header-text>
</md-card-header>
<md-divider></md-divider>
<md-card-header ng-if="ctrl.isAllowed('addAttachment', item)">
	<md-card-header-text>
		<span style="font-size: 14px;" class="md-title">Attachments</span>
		<md-button class="md-raised md-primary" aria-label="Add" data-google-drive-picker data-on-file-select="ctrl.addAttachment(file)">Add</md-button>
		<div style="margin-top: -10px; margin-bottom: -15px;" layout="row" layout-align="space-between center" data-ng-repeat="a in attachments"> <!--div da fare ng-repeat e mettere i log-->
			<p style=" font-size: 14px; color: gray; margin-left: 2px;">
				<a ng-href="{{a.url}}" target="_blank">{{a.name}}</a>
			</p>
			<md-button class="md-icon-button md-accent" aria-label="Delete" data-ng-click="ctrl.deleteAttachment(a)">
				<md-icon class="material-icons" aria-label="delete">delete</md-icon>
			</md-button>
		</div>
	</md-card-header-text>
</md-card-header>
<md-divider></md-divider>
<md-card-header>
	<md-card-header-text>
		<span style="font-size: 14px;" class="md-title">Log Activity</span>
		<div style="margin-top: -10px; margin-bottom: -15px;" layout="row" data-ng-repeat="h in history">
			<p style=" font-size: 14px; color: gray; margin-left: 2px;">{{h | logActivityFilter}}</p>
		</div>
	</md-card-header-text>
</md-card-header>
</md-card>

<div style="height:48px;"></div>
