<md-fab-speed-dial md-direction="up" class="md-scale md-fab-bottom-right" style="position: fixed" ng-if="ctrl.isNewEntitiesAllowed(organization)">
	<md-fab-trigger>
		<md-button aria-label="Item Menu" class="md-fab md-warn">
			<md-icon md-svg-icon="add"></md-icon>
		</md-button>
	</md-fab-trigger>
	<md-fab-actions>
		<md-button aria-label="New item" class="md-fab md-raised md-mini" ng-click="ctrl.openNewItem($event)" ng-if="ctrl.isAllowed('createItem', organization)">
			<md-icon md-svg-icon="addItem" title="New Task" style="color: black"></md-icon>
		</md-button>
		<md-button aria-label="New stream" class="md-fab md-raised md-mini" ng-click="ctrl.openNewStream($event)" ng-if="ctrl.isAllowed('createStream', organization)">
			<md-icon md-svg-icon="addStream" title="New Stream" style="color: black"></md-icon>
		</md-button>
	</md-fab-actions>
</md-fab-speed-dial>
<md-card>
	<md-card-content>
		<form name="form" ng-submit="ctrl.loadItems()" novalidate>
			<div layout="row" layout-sm="column">
				<md-datepicker ng-model="filters.startOn" md-placeholder="From"></md-datepicker>
				<md-datepicker ng-model="filters.endOn" md-placeholder="To"></md-datepicker>
				<md-input-container flex>
					<label>Member</label>
					<input type="email" ng-model="filters.memberEmail">
				</md-input-container>
				<md-input-container>
					<label>Status</label>
					<md-select ng-model="filters.status">
						<md-option value=""></md-option>
						<md-option ng-repeat="status in ITEM_STATUS" value="{{status}}">{{ status | itemStatusLabel }}</md-option>
					</md-select>
				</md-input-container>
				<md-button type="submit" class="md-raised">Search</md-button>
			</div>
		</form>
	</md-card-content>
</md-card>
<md-card ng-repeat="item in items._embedded['ora:task']" ng-init="owner = ctrl.getOwner(item)" infinite-scroll="ctrl.loadMore()" infinite-scroll-distance="1" infinite-scroll-parent="true" infinite-scroll-disabled="items.total == items.count || isLoadingMore" infinite-scroll-immediate-check="false">
	<md-card-title>
		<md-card-title-text>
			<div ui-sref="org.item({ orgId: item.organization.id, itemId: item.id })">
				<div class="md-headline">{{ item.subject }}</div>
				<div class="md-subhead">{{ ctrl.stream(item).subject }}</div>
			</div>
		</md-card-title-text>
		<md-card-avatar>
			<img style="max-width: 40px; border-radius: 50%" ng-src="{{ owner.picture }}" alt="{{ owner.firstname }} {{ owner.lastname}}" title="{{ owner.firstname }} {{ owner.lastname}}" ui-sref="org.profile({ memberId: owner.id })" md-ink-ripple>
		</md-card-avatar>
	</md-card-title>
	<md-card-content>
			<p>{{ item | itemStatusResume }}</p>
		</div>
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center" ng-if="ctrl.hasActions(item)">
		<md-button class="md-secondary" aria-label="Join item" ng-if="ctrl.isAllowed('joinItem', item)" ng-click="ctrl.joinItem(item)">Join</md-button>
		<md-button class="md-secondary" aria-label="Estimate item" ng-if="ctrl.isAllowed('estimateItem', item)" ng-click="ctrl.openEstimateItem($event, item)">Estimate</md-button>
		<md-button class="md-secondary" aria-label="Assign shares" ng-if="ctrl.isAllowed('assignShares', item)" ng-click="ctrl.openAssignShares($event, item)">Assign Shares</md-button>
               
	</md-card-actions>
</md-card>