<md-card>
	<md-card-header style="margin-top: -10px;">
		<md-card-header-text ui-sref="org.item({ orgId: item.organization.id, itemId: item.id })">
			<span style="margin-top: -5px;" class="md-subhead">
				{{item.type}}
			</span>
			<span style="font-size: 26px; margin-top: -5px;">
				{{ item.subject }}
			</span>
			<p style="text-transform: uppercase; font-size: 16px; margin-top: 0px;">
				<span style="font-size: 16px" class="md-subhead">
					#4530 <!--dato da inserire-->
				</span>
				{{ ctrl.stream(item).subject }}
			</p>
			<div layout="row" style="margin-top: -28px;">
				<p style="font-size: 14px;">owner:</p>
				<img style="max-width: 16px; max-height: 16px; border-radius: 50%; margin-top:16px; margin-left: 4px;" ng-src="{{ owner.picture || 'img/account.jpg' }}"> <!-- qua ci vuole l'immagine dell'owner-->
				<p ui-sref="org.profile({ memberId: owner.id })" style="font-size: 14px; color: gray; margin-left: 2px;"><u> {{ owner.firstname }} {{ owner.lastname }}</u><!-- l'owner--><!--ui-sref con account vero--> (owner) <!--ruolo dell'owner--></p>
			</div>
		<p style="font-size: 14px; margin-top: -8px;">
			status:
			<span style="line-height: 14px" class="md-subhead">
				{{item.status}}
			</span>
		</p>
		<p style="font-size: 14px; margin-top: -8px;">
			Last Activity:
			<span style="line-height: 14px" class="md-subhead">
				12/02/2016 <!-- dato da inserire -->
			</span>
		</p>
		<p style="font-size: 14px; margin-top: -8px;">
			Credit:
			<span style="line-height: 14px" class="md-subhead">
				400 <!-- dato da inserire -->
			</span>
		</p>
	</div>
</md-card-header-text>
<md-card-media layout="column" layout-align="start end">
	<img style="max-width: 70px; border-radius: 50%" ng-src="img/immagine.png">
</md-card-media>
</md-card-header>
<md-card-action layout="row" layout-align="end end">
	<md-button class="md-raised md-primary" aria-label="Start item" ng-if="ctrl.isAllowed('executeItem', item)" ng-click="ctrl.executeItem(item)">Start</md-button>
	<md-button class="md-raised md-primary" aria-label="Approve Idea"  ng-if="ctrl.isAllowed('approveIdea', item)" ng-click="ctrl.openApproveIdea($event, item)">Vote</md-button>
	<md-button class="md-raised md-primary" aria-label="Join item" ng-if="ctrl.isAllowed('joinItem', item)" ng-click="ctrl.joinItem(item)">Join</md-button>
	<md-button class="md-raised md-primary" aria-label="Estimate item" ng-if="ctrl.isAllowed('estimateItem', item)" ng-click="ctrl.openEstimateItem($event, item)">Estimate</md-button>
	<md-button class="md-raised md-primary" aria-label="Complete item" ng-if="ctrl.isAllowed('completeItem', item)" ng-click="ctrl.completeItem($event, item)">Mark as Completed</md-button>
	<md-button class="md-raised md-primary" aria-label="Accept item" ng-if="ctrl.isAllowed('acceptItem', item)" ng-click="ctrl.acceptItem($event, item)">Mark as Accepted</md-button>
	<md-button class="md-raised md-primary" aria-label="Assign shares" ng-if="ctrl.isAllowed('assignShares', item)" ng-click="ctrl.openAssignShares($event, item)">Assign Shares</md-button>
	<md-button class="md-raised md-primary" aria-label="Close item" ng-if="ctrl.isAllowed('closeItem', item)" ng-click="ctrl.closeItem(item)">Mark as Closed</md-button>
	<md-button class="md-raised md-primary" aria-label="Close item" ng-if="ctrl.isAllowed('unjoinItem', item)" ng-click="ctrl.unjoinItem(item)">Unjoin</md-button>
</md-card-action>
<md-divider></md-divider>
<md-card-header>
	<md-card-header-text>
		<span style="font-size: 14px;" class="md-title">Description</span>
		<span style="font-size: 14px; line-height: 14px; color: gray;" class="md-subhead">
			{{item.description}}
		</span>
	</md-card-header-text>
</md-card-header>
<md-divider></md-divider>
<md-card-header data-ng-if="members.length">
	<md-card-header-text>
		<span style="font-size: 14px;" class="md-title">Partecipant List</span>
		<div
			style="margin-top: -10px; margin-bottom: -10px;"
			layout="row"
			ng-class="ctrl.isAllowed('showShares', item) && member.share ? 'md-3-line' : 'md-2-line'"
			data-ng-repeat="member in members"
			ng-init="m = user(member)">
				<img style="max-width: 16px; max-height: 16px; border-radius: 50%; margin-top:16px;" ng-src="{{ member.picture || 'img/account.jpg' }}"  md-ink-ripple>
				<p ui-sref="org.profile({ memberId: member.id })" style=" font-size: 14px; color: gray; margin-left: 2px;">{{ member.firstname }} {{ member.lastname }} ({{ member.role }})</p>
	</div>
</md-card-header-text>
</md-card-header>
<md-divider></md-divider>
<md-card-header>
	<md-card-header-text>
		<span style="font-size: 14px;" class="md-title">Log Activity</span>
		<div style="margin-top: -10px; margin-bottom: -15px;"
		layout="row"> <!--div da fare ng-repeat e mettere i log-->
		<p style=" font-size: 14px; color: gray; margin-left: 2px;">08/02/2016 - Moved to In progess <!--dato da inserire--></p>
	</div>
</md-card-header-text>
</md-card-header>
</md-card>

<div style="height:48px;"></div>
