<md-dialog aria-label="New Item">
	<form name="form" ng-submit="dialogCtrl.submit()" novalidate>
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				<h2>Propose an idea</h2>
				<md-input-container>
					<label>Subject</label>
					<input data-ng-model="task.subject" name="subject" type="text" required>
					<div ng-messages="form.subject.$error" role="alert">
						<div ng-message="required">Subject is required</div>
						<div ng-message="remote">{{ form.subject.$error.remote }}</div>
					</div>
				</md-input-container>
				<md-input-container data-ng-if="streams['_embedded']['ora:stream'].length > 0">
					<label>Stream</label>
					<md-select data-ng-model="task.streamID" name="stream" required>
						<md-option ng-repeat="stream in streams['_embedded']['ora:stream']" value="{{ stream.id }}">{{ stream.subject }}</md-option>
					</md-select>
					<div ng-messages="form.stream.$error" role="alert">
						<div ng-message="required">Stream is required</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Template</label>
					<md-select data-ng-model="template" name="template">
						<md-option ng-repeat="template in templates" value="{{$index}}">{{ template.name }}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container data-ng-if="template >= 0">
					{{templates[template].value}}
				</md-input-container>
				<md-input-container data-ng-if="false">
					<label>Description</label>
					<textarea data-ng-model="task.description" columns="1" md-maxlength="255" rows="3" name="description" required></textarea>
					<div ng-messages="form.description.$error" role="alert">
						<div ng-message="required">Description is required</div>
						<div ng-message="remote">{{ form.description.$error.remote }}</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" layout-align="end center">
			<md-button type="button" ng-click="dialogCtrl.cancel()">Cancel</md-button>
			<md-button type="submit" style="margin-right:20px;" class="md-primary" ng-disabled="form.$invalid">Create</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
