<md-dialog aria-label="New Item">
	<form name="form" ng-submit="dialogCtrl.submit()" novalidate>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>New Item</h2>
				<span flex></span>
				<md-button type="button" class="md-icon-button" ng-click="dialogCtrl.cancel()">
					<md-icon class="material-icons" aria-label="Close dialog">&#xE5CD;</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				<md-input-container>
					<label>Subject</label>
					<input data-ng-model="task.subject" name="subject" type="text" required>
					<div ng-messages="form.subject.$error" role="alert">
						<div ng-message="required">Subject is required</div>
						<div ng-message="remote">{{ form.subject.$error.remote }}</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Stream</label>
					<md-select data-ng-model="task.streamID" name="stream" required>
						<md-option ng-repeat="stream in streams['_embedded']['ora:stream']" value="{{ stream.id }}">{{ stream.subject }}</md-option>
					</md-select>
					<div ng-messages="form.stream.$error" role="alert">
						<div ng-message="required">Stream is required</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" layout-align="end center">
			<md-button type="button" ng-click="dialogCtrl.cancel()">Cancel</md-button>
			<md-button type="submit" style="margin-right:20px;" class="md-primary" ng-disabled="form.$invalid">Submit</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>