<div class="container" id="content">
	<div class="page-header">
		<h1>Items
            <button type="button" class="btn btn-default pull-right" ng-click="openNewTask()" aria-label="New Task"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </h1>
	</div>
	<div class="alert" role="alert" data-ng-show="alertMsg" data-ng-bind="alertMsg"></div>
	<ul style="list-style: none; padding: 0; margin: 0">
		<li class="panel panel-default" ng-repeat="task in tasks._embedded['ora:task']">
			<div class="panel-heading">
				<div class="btn-group pull-right context-menu" dropdown is-open="status.isopen">
					<button class="btn btn-default dropdown-toggle" type="button" dropdown-toggle ng-disabled="disabled">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li role="presentation"><a role="menuitem" tabindex="-1" ng-if="isAllowed.deleteTask(task)" ng-click="deleteTask(task)">Delete</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
					</ul>
				</div>
				<h3 class="panel-title"><a ng-click="openTaskDetail(task)">{{task.subject}}</a></h3>
			</div>
			<div class="panel-body">
				<ul style="list-style: none; padding: 0; margin: 0">
					<li>{{ task.status }}</li>
					<li>estimation</li>
					<li>Members: {{ count(task.members) }}</li>
					<li>
						<button ng-if="isAllowed.executeTask(task)" data-href="{{ task._links['ora:execute'] }}" data-action="executeTask" class="btn btn-default">Ongoing</button>
						<button ng-if="isAllowed.completeTask(task)" data-href="{{ task._links['ora:complete'] }}" data-action="completeTask" class="btn btn-default">Complete</button>
						<button ng-if="isAllowed.acceptTask(task)" data-href="{{ task._links['ora:accept'] }}" data-action="acceptTask" class="btn btn-default">Accept</button>
						<button ng-if="isAllowed.assignShares(task)" data-href="{{ task._links['ora:assignShares'] }}" data-toggle="modal" data-target="#assignSharesModal" class="btn btn-default">Assign share</button>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>