<div class="container" id="content">
	<div class="page-header">
		<h1>Items
            <button type="button" class="btn btn-default pull-right" ng-click="openNewTask()" aria-label="New Task"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </h1>
	</div>
	<div class="alert" role="alert" data-ng-show="alertMsg" data-ng-bind="alertMsg"></div>
	<ul style="list-style: none; padding: 0; margin: 0">
		<li class="panel panel-default" ng-repeat="task in tasks._embedded['ora:task']">
			<div class="panel-heading">
				<div class="btn-group pull-right context-menu" dropdown is-open="status.isopen">
					<button class="btn btn-default dropdown-toggle" type="button" dropdown-toggle ng-disabled="disabled">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li role="presentation"><a role="menuitem" tabindex="-1" ng-if="isAllowed.deleteTask(task)" ng-click="deleteTask(task)">Delete</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
					</ul>
				</div>
				<h3 class="panel-title"><a ng-click="openTaskDetail(task)">{{task.subject}}</a></h3>
			</div>
			<div class="panel-body">
				<div class="col-md-9" style="padding-left: 0">
					<ul style="list-style: none; padding: 0; margin: 0">
						<li>{{ statusLabel[task.status] }}</li>
						<li ng-switch="task.estimation">
							<span ng-switch-when="null">Estimation in progress</span>
							<span ng-switch-when="-1">Estimation skipped</span>
							<span ng-switch-default>{{ task.estimation | number : 0 }} Credits</span>
						</li>
						<li>
							<button ng-if="isAllowed.executeTask(task)" data-href="{{ task._links['ora:execute'] }}" data-action="executeTask" class="btn btn-default">Ongoing</button>
							<button ng-if="isAllowed.assignShares(task)" data-href="{{ task._links['ora:assignShares'] }}" data-toggle="modal" data-target="#assignSharesModal" class="btn btn-default">Assign share</button>
						</li>
					</ul>
				</div>
				<div class="col-md-3" style="padding-right: 0px; text-align: right">
					<ul style="list-style: none; padding: 0; margin: 0">
						<li ng-if="count(task.members) == 1" data-ng-repeat="member in task.members"><img ng-src="{{ member.picture }}" style="max-width: 30px; max-height: 30px;" class="img-circle"></li>
						<li ng-if="count(task.members) > 1">{{ count(task.members) }} members</li>
					</ul>
				</div>
			</div>
		</li>
	</ul>
</div>