<md-dialog aria-label="New Organization">
	<form name="form" ng-submit="dialogCtrl.submit()" novalidate>
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				<h4>New Organization</h4>
				<md-input-container>
					<label>Name</label>
					<input data-ng-model="organization.name" name="name" type="text" required>
					<div ng-messages="form.name.$error" role="alert">
						<div ng-message="required">Name is required</div>
						<div ng-message="remote">{{ form.name.$error.remote }}</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" layout-align="end center">
			<md-button type="button" ng-click="dialogCtrl.cancel()">Cancel</md-button>
			<md-button type="submit" style="margin-right:20px;" class="md-primary" ng-disabled="form.$invalid">Submit</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
