<md-button class="md-fab md-warn md-fab-bottom-right" style="position: fixed" aria-label="New Organization" ng-click="ctrl.openNewOrganization($event)">
	<md-icon md-svg-icon="add"></md-icon>
</md-button>
<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Side Nav" ng-click="toggleLeft()" hide-gt-md>
			<md-icon md-svg-icon="menu" alt="menu"></md-icon>
		</md-button>
		<h2>Organizations</h2>
	</div>
</md-toolbar>
<md-content layout-padding>
	<md-list>
		<md-list-item ng-repeat="org in organizations" ui-sref="org.collaboration({ orgId: org.id })">
			<p md-ink-ripple style="cursor:pointer;" >{{ org.name }}</p>
			<md-button aria-label="Unjoin Organization" class="md-secondary md-raised md-warn" ng-click="ctrl.unjoinOrganization(org)" ng-if="ctrl.isAllowed('unjoinOrganization', org)">Unjoin</md-button>
		</md-list-item>
		<md-list-item data-ng-if="!organizations.length">
			<p md-no-ink class="full-width text-align-left">
				Aloha {{identity.getFirstname()}}, welcome to your first time with us!
				<br/><br/>
				You might want to ask some colleagues to invite you in an existing organisation, or just go ahead creating one on your own. For doing so, click on the red button here below.
				<br/><br/>
				Let us know if you need any assistance. Happy work life with LiquidO.
			</p>
		</md-list-item>
	</md-list>
	<div class="space-at-end"></div>
</md-content>
