<md-button class="md-fab md-warn md-fab-bottom-right" style="position: fixed" aria-label="New Organization" ng-click="ctrl.openNewOrganization($event)">
	<md-icon md-svg-icon="add"></md-icon>
</md-button>
<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Side Nav" ng-click="toggleLeft()" hide-gt-md>
			<md-icon md-svg-icon="menu" alt="menu"></md-icon>
		</md-button>
		<h2>Organizations</h2>
	</div>
</md-toolbar>
<md-content layout-padding>
	<md-list>
		<md-list-item ng-repeat="org in organizations" ui-sref="org.collaboration({ orgId: org.id })">
			<p>{{ org.name }}</p>
			<md-button aria-label="Unjoin Organization" class="md-secondary" ng-click="ctrl.unjoinOrganization(org)" ng-if="ctrl.isAllowed('unjoinOrganization', org)">Unjoin</md-button>
		</md-list-item>
	</md-list>
</md-content>
