<md-content class="bkg-color-primary full-width">

<md-button data-ng-if="canInviteNewUser" data-ng-click="openInvitationDialog($event)" aria-label="Item Menu" class="md-fab md-warn md-hue-1 md-fab-bottom-right" style="position: fixed; margin-bottom: 40px;">
	<md-icon md-svg-icon="add"></md-icon>
</md-button>
<md-list>
	<md-list-item style="padding: 0"  ui-sref="org.profile({ memberId: person.id })" class="md-2-line hand-pointer" ng-repeat="person in members['_embedded']['ora:member']">
		<span hide-xs class="md-primary people-you-label" data-ng-class="{hideelement:!isMe(person)}">
	you
		</span>
		<i class="material-icons margin-right-20" data-ng-class="{hideelement:!isMe(person)}" hide-gt-xs>&#xE037;</i>
		<img alt="{{ person.firstname }} {{ person.lastname }}" ng-src="{{ person.picture || 'img/account.jpg' }}" class="md-avatar" />
		<div class="md-list-item-text"  md-ink-ripple>
			<h3>{{ person.firstname }} {{ person.lastname }}</h3>
			<p>{{ person.role }}</p>
		</div>
		<md-button class="md-icon-button md-warn" data-ng-if="!isMe(person) && isAllowed('removeUser', orgId)" aria-label="Delete" data-ng-click="removeUser($event,person)">
			<md-icon class="material-icons" aria-label="delete">delete</md-icon>
		</md-button>
		<md-divider ng-if="!$last"></md-divider>
	</md-list-item>
	<div class="space-at-end"></div>
</md-list>
</md-content>
