<div layout="row" class="md-padding">
	<div layout="column">
		<center>
			<img alt="{{ profile.firstname }} {{ profile.lastname }}" ng-src="{{ profile.picture || 'img/account.jpg' }}" style="border-radius: 50%; height: 70px; width: 70px; margin-top:20px;" />
			<p style="margin-top:-2px; font-size: 14px;">{{ profile.firstname }} {{ profile.lastname}}</p>
			<p style="margin-top: -14px; font-size: 14px; color: gray;">({{profile.role}})</p>
		</center>
	</div>
	<div layout="column">

		<md-list>
			<md-list-item style="padding-left:20px;">
				<div class="profile-info-icon">
					<i style="font-size:10px;" class="material-icons">mail_outline</i>
				</div>
				<p>
					<a
						class="profile-basic-info"
						data-ng-href="mailto:{{profile.email}}" target="_top">
						{{profile.email}}
					</a>
				</p>
			</md-list-item>
		</md-list>
		<!-- TODO: Add additional profile informations
		<div layout="row" style="margin-top: -34px;">
			<img style="max-width: 16px; max-height: 16px; border-radius: 50%; margin-top:14px; margin-left: 4px;" ng-src="img/immagine.png">
			<p style="font-size: 14px; color: gray; margin-left: 2px;">@{{ profile.firstname }}{{ profile.lastname}}</p>
		</div>
		<div layout="row" style="margin-top: -34px;">
			<img style="max-width: 16px; max-height: 16px; border-radius: 50%; margin-top:14px; margin-left: 4px;" ng-src="img/immagine.png">
			<p style="font-size: 14px; color: gray; margin-left: 2px;">INTERNET</p>
		</div>
		<div layout="row" style="margin-top: -34px;">
			<img style="max-width: 16px; max-height: 16px; border-radius: 50%; margin-top:14px; margin-left: 4px;" ng-src="img/immagine.png">
			<p style="font-size: 14px; color: gray; margin-left: 2px;">CITY</p>
		</div>
		-->
	</div>
</div>
<!-- TODO: skill management -->
<div layout="row" style="padding-left: 8px; margin-top: -16px;" data-ng-if="false">
	<p style="font-size: 14px; font-weight: bold; display: table;">Very good at</p>
	<p style="font-size: 14px; margin-left: 6px">
		XXXXX
	</p>
</div>
<div layout="row" style="padding-left: 8px; margin-top: -24px;" data-ng-if="false">
	<p style="font-size: 14px; font-weight: bold;">Passion </p>
	<p style="font-size: 14px; margin-left: 6px">
		XXXXX
	</p>
</div>
<md-tabs
	data-ng-if="false"
	style="width: 100%;"
	class="md-primary"
	md-dynamic-height
	md-selected="currentTab"
	md-stretch-tabs="always">
		<md-tab label="Skills">
			<div layout="column" style="margin-top: 32px;">
				<div layout="row"  style="margin-top: -32px;">
					<div layout="row"  class="md-padding" flex="33">
						<p style="font-size: 14px;">Photoshop</p>
					</div>
					<div layout="row" flex="40" style="margin-top: 10px;">
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
					</div>
				</div>
				<div layout="row"  style="margin-top: -32px;">
					<div layout="row" class="md-padding" flex="33">
						<p style="font-size: 14px;">Illustrator</p>
					</div>
					<div layout="row" flex="40" style="margin-top: 10px;">
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
					</div>
				</div>
				<div layout="row" style="margin-top: -32px;">
					<div layout="row"  class="md-padding" flex="33">
						<p style="font-size: 14px;">Sketchking</p>
					</div>
					<div layout="row" flex="40" style="margin-top: 10px;">
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
					</div>
				</div>
				<div layout="row" style="margin-top: -32px;">
					<div  class="md-padding" layout="row" flex="33">
						<p style="font-size: 14px;">Wireframe</p>
					</div>
					<div layout="row" flex="40" style="margin-top: 10px;">
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
					</div>
				</div>
				<div layout="row" style="margin-top: -32px;">
					<div class="md-padding" layout="row" flex="33">
						<p style="font-size: 14px;">Drawing</p>
					</div>
					<div layout="row" flex="40" style="margin-top: 10px;">
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
					</div>
				</div>
			</div>
			<div style="margin-top: -27px; margin-left: -8px;">
				<md-button  ng-click="showMore()" md-no-ink>
					<span data-ng-if="!moreDetail" style="color: gray" >Show all</span>
					<span data-ng-if="moreDetail" style="color: gray" >Show Less</span>
				</md-button>
			</div>
			<div data-ng-if="moreDetail" layout="column" style="margin-top: 5px;">
				<div layout="row"  style="margin-top: -32px;">
					<div layout="row"  class="md-padding" flex="33">
						<p style="font-size: 14px;">Photoshop</p>
					</div>
					<div layout="row" flex="40" style="margin-top: 10px;">
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
					</div>
				</div>
				<div layout="row"  style="margin-top: -32px;">
					<div layout="row" class="md-padding" flex="33">
						<p style="font-size: 14px;">Illustrator</p>
					</div>
					<div layout="row" flex="40" style="margin-top: 10px;">
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
					</div>
				</div>
				<div layout="row" style="margin-top: -32px;">
					<div layout="row"  class="md-padding" flex="33">
						<p style="font-size: 14px;">Sketchking</p>
					</div>
					<div layout="row" flex="40" style="margin-top: 10px;">
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
					</div>
				</div>
				<div layout="row" style="margin-top: -32px;">
					<div  class="md-padding" layout="row" flex="33">
						<p style="font-size: 14px;">Wireframe</p>
					</div>
					<div layout="row" flex="40" style="margin-top: 10px;">
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
					</div>
				</div>
				<div layout="row" style="margin-top: -32px;">
					<div class="md-padding" layout="row" flex="33">
						<p style="font-size: 14px;">Drawing</p>
					</div>
					<div layout="row" flex="40" style="margin-top: 10px;">
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
					</div>
				</div>
			</div>
			<md-divider></md-divider>
		</md-tab>
		<md-tab label="Strenght">
			<div layout="column" style="margin-top: 32px;">
				<div layout="row"  style="margin-top: -32px;">
					<div layout="row"  class="md-padding" flex="33">
						<p style="font-size: 14px;">Photoshop</p>
					</div>
					<div layout="row" flex="40" style="margin-top: 10px;">
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
					</div>
				</div>
				<div layout="row"  style="margin-top: -32px;">
					<div layout="row" class="md-padding" flex="33">
						<p style="font-size: 14px;">Illustrator</p>
					</div>
					<div layout="row" flex="40" style="margin-top: 10px;">
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
					</div>
				</div>
				<div layout="row" style="margin-top: -32px;">
					<div layout="row"  class="md-padding" flex="33">
						<p style="font-size: 14px;">Sketchking</p>
					</div>
					<div layout="row" flex="40" style="margin-top: 10px;">
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
					</div>
				</div>
				<div layout="row" style="margin-top: -32px;">
					<div  class="md-padding" layout="row" flex="33">
						<p style="font-size: 14px;">Wireframe</p>
					</div>
					<div layout="row" flex="40" style="margin-top: 10px;">
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
					</div>
				</div>
				<div layout="row" style="margin-top: -32px;">
					<div class="md-padding" layout="row" flex="33">
						<p style="font-size: 14px;">Drawing</p>
					</div>
					<div layout="row" flex="40" style="margin-top: 10px;">
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
						<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
					</div>
				</div>
			</div>
			<div style="margin-top: -27px; margin-left: -8px;">
				<md-button md-no-ink><span style="color: gray">Show all</span></md-button>
			</div>
			<md-divider></md-divider>
		</md-tab>
</md-tabs>
	<md-subheader class="member-since-label">
		{{organization.name}} joined on {{profile.createdAt | date:'dd/MM/yyyy'}}
	</md-subheader>
	<md-card>
		<md-card-header>
			<md-card-header-text>
				<span class="md-subheader" style="color: black; font-weight: 300;"> AVAILABLE CREDITS
					<span class="md-title" style="margin-left: 10px;"> {{credits.balance}}
				 </span>
				 <span class="md-subheader" style="color: black; font-weight: 300; margin-top: 14px;"> TOTAL GENERATED CREDITS
 					<span class="md-title" style="margin-left: 10px;"> {{credits.total}}
 				 </span>
				 <span class="md-subheader" style="color: black; font-weight: 300; margin-top: 14px;"> ITEM CONTRIBUTIONS
				   <span class="md-title" style="margin-left: 10px;"> {{ stats.membershipsCount | number : 0 }}
				 </span>
				 <span class="md-subheader" style="color: black; font-weight: 300; margin-top: 14px;"> ITEM OWNERSHIPS
				  	<span class="md-title" style="margin-left: 10px;"> {{ stats.ownershipsCount | number : 0 }}
				 </span>
				 <span data-ng-if="false" class="md-subheader" style="color: black; font-weight: 300; margin-top: 14px;"> EARNED CREDITS
				  	<span class="md-title" style="margin-left: 10px;"> {{ stats.creditsCount | number : 2 }}
				 </span>
				 <span class="md-subheader" style="color: black; font-weight: 300; margin-top: 14px;"> AUTO-ASSESSMENT AVG GAP
				  	<span class="md-title" style="margin-left: 10px;"> {{ stats.averageDelta | percentage:2:true }}
				 </span>
			</md-card-header-text>
		</md-card-header>
				<md-card-content layout="row" style="margin-top: -12px; padding-left:5px; padding-right: 5px;">
					<div flex="33" layout="column">
						<center>
							<span class="md-subheader" style="color: black; font-weight: 300;">LAST 3 <br/> MONTHS</span>
							<span class="md-title">{{credits.last3M}}</span>
						</center>
					</div>
					<div flex="33" layout="column">
						<center>
							<span class="md-subheader" style="color: black; font-weight: 300;">LAST 6 <br/> MONTHS</span>
							<span class="md-title">{{credits.last6M}}</span>
						</center>
					</div>
					<div flex="33" layout="column">
						<center>
							<span class="md-subheader" style="color: black; font-weight: 300;">LAST 12 <br/> MONTHS</span>
							<span class="md-title">{{credits.last1Y}}</span>
						</center>
					</div>
				</md-card-content>
	</md-card>
	<md-card data-ng-if="isChangeUserAllowed()">
		<md-button class="md-raised md-primary" data-ng-if="canChangeTo('contributor')" ng-click="askChangeRole($event,'contributor')">Change User Role to contributor</md-button>
		<md-button class="md-raised md-primary" data-ng-if="canChangeTo('member')" ng-click="askChangeRole($event,'member')">Change User Role to member</md-button>
		<md-button class="md-raised md-primary" data-ng-if="canChangeTo('admin')" ng-click="askChangeRole($event,'admin')">Change User Role to admin</md-button>
	</md-card>
	<md-card data-ng-if="isMakeAdminAllowed()">
		<md-button class="md-raised md-primary" ng-click="askMakeAdmine($event)">Make Member Admin</md-button>
	</md-card>
	<md-card data-ng-if="isBackToMemberAllowed()">
		<md-button class="md-raised md-primary" ng-click="askBackToMemberRole($event)">Release Admin to Member</md-button>
	</md-card>
	<md-card>
		<md-card-header>
			<md-card-header-text>
					<span class="md-subheader" style="color: black; font-weight: 200;">ITEM CONTRIBUTION</span>
					<table class="profile-item-table">
						<thead class="profile-item-table-header">
							<tr>
								<th>owned</th>
								<th class="subject-column">subject</th>
								<th>status</th>
								<th>credits</th>
								<th>gap</th>
							</tr>
						</thead>
						<tbody>
							<tr class="profile-item-table-row" data-ng-repeat="task in tasks">
								<td class="col-20">{{isOwned(task) ? '&#x2713;' : '-'}}</td>
								<td class="col-20 subject-column">{{task.subject}}</td>
								<td class="col-20">{{task.status | itemStatusShortLabel}}</td>
								<td class="col-20">{{getCredits(task)}}</td>
								<td class="col-20" data-ng-show="getDelta(task)">{{(getDelta(task) * 100 | number:2) + ' %'}}</td>
							</tr>
						</tbody>
					</table>
			</md-card-header-text>
		</md-card-header>
	</md-card>
	<div style="height: 48px;">
	</div>
