<div layout="row" class="md-padding">
	<div layout="column">
		<center>
			<img alt="{{ profile.firstname }} {{ profile.lastname }}" ng-src="{{ profile.picture || 'img/account.jpg' }}" style="border-radius: 50%; height: 70px; width: 70px; margin-top:20px;" />
			<p style="margin-top:-2px; font-size: 14px;">{{ profile.firstname }} {{ profile.lastname}}</p>
			<p style="margin-top: -14px; font-size: 14px; color: gray;">({{profile.role}})</p>
		</center>
	</div>
	<div layout="column" layout-padding>
		<div layout="row">
			<img style="max-width: 16px; max-height: 16px; border-radius: 50%; margin-top:14px; margin-left: 4px;" ng-src="img/immagine.png">
			<p style="font-size: 14px; color: gray; margin-left: 2px;">{{profile.email}}</p>
		</div>
		<div layout="row" style="margin-top: -34px;">
			<img style="max-width: 16px; max-height: 16px; border-radius: 50%; margin-top:14px; margin-left: 4px;" ng-src="img/immagine.png">
			<p style="font-size: 14px; color: gray; margin-left: 2px;">@{{ profile.firstname }}{{ profile.lastname}}</p>
		</div>
		<div layout="row" style="margin-top: -34px;">
			<img style="max-width: 16px; max-height: 16px; border-radius: 50%; margin-top:14px; margin-left: 4px;" ng-src="img/immagine.png">
			<p style="font-size: 14px; color: gray; margin-left: 2px;">Sito Internet</p>
		</div>
		<div layout="row" style="margin-top: -34px;">
			<img style="max-width: 16px; max-height: 16px; border-radius: 50%; margin-top:14px; margin-left: 4px;" ng-src="img/immagine.png">
			<p style="font-size: 14px; color: gray; margin-left: 2px;">Città Natale</p>
		</div>
	</div>
</div>
<div layout="row" style="padding-left: 8px; margin-top: -16px;">
	<p style="font-size: 14px; font-weight: bold; display: table;">Very good at</p>
	<p style="font-size: 14px; margin-left: 6px">
		all design and graphic activities <!-- dato da inserire -->
	</p>
</div>
<div layout="row" style="padding-left: 8px; margin-top: -24px;">
	<p style="font-size: 14px; font-weight: bold;">Passion </p>
	<p style="font-size: 14px; margin-left: 6px">
		cats, cooking foods for friends and geometric patterns <!-- dato da inserire -->
	</p>
</div>
<md-tabs
 style="width: 100%;"
 class="md-primary"
 md-dynamic-height
 md-selected="currentTab"
 md-stretch-tabs="always">
<md-tab label="Skills">
	<div layout="column" style="margin-top: 32px;">
		<div layout="row"  style="margin-top: -32px;">
			<div layout="row"  class="md-padding" flex="33">
				<p style="font-size: 14px;">Photoshop</p>
			</div>
			<div layout="row" flex="40" style="margin-top: 10px;">
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
			</div>
		</div>
		<div layout="row"  style="margin-top: -32px;">
			<div layout="row" class="md-padding" flex="33">
				<p style="font-size: 14px;">Illustrator</p>
			</div>
			<div layout="row" flex="40" style="margin-top: 10px;">
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
			</div>
		</div>
		<div layout="row" style="margin-top: -32px;">
			<div layout="row"  class="md-padding" flex="33">
				<p style="font-size: 14px;">Sketchking</p>
			</div>
			<div layout="row" flex="40" style="margin-top: 10px;">
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
			</div>
		</div>
		<div layout="row" style="margin-top: -32px;">
			<div  class="md-padding" layout="row" flex="33">
				<p style="font-size: 14px;">Wireframe</p>
			</div>
			<div layout="row" flex="40" style="margin-top: 10px;">
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
			</div>
		</div>
		<div layout="row" style="margin-top: -32px;">
			<div class="md-padding" layout="row" flex="33">
				<p style="font-size: 14px;">Drawing</p>
			</div>
			<div layout="row" flex="40" style="margin-top: 10px;">
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
			</div>
		</div>
	</div>
	<div style="margin-top: -27px; margin-left: -8px;">
	<md-button  ng-click="showMore()" md-no-ink>
		<span data-ng-if="!moreDetail" style="color: gray" >Show all</span>
		<span data-ng-if="moreDetail" style="color: gray" >Show Less</span>
	</md-button>
</div>
	<div data-ng-if="moreDetail" layout="column" style="margin-top: 5px;">
		<div layout="row"  style="margin-top: -32px;">
			<div layout="row"  class="md-padding" flex="33">
				<p style="font-size: 14px;">Photoshop</p>
			</div>
			<div layout="row" flex="40" style="margin-top: 10px;">
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
			</div>
		</div>
		<div layout="row"  style="margin-top: -32px;">
			<div layout="row" class="md-padding" flex="33">
				<p style="font-size: 14px;">Illustrator</p>
			</div>
			<div layout="row" flex="40" style="margin-top: 10px;">
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
			</div>
		</div>
		<div layout="row" style="margin-top: -32px;">
			<div layout="row"  class="md-padding" flex="33">
				<p style="font-size: 14px;">Sketchking</p>
			</div>
			<div layout="row" flex="40" style="margin-top: 10px;">
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
			</div>
		</div>
		<div layout="row" style="margin-top: -32px;">
			<div  class="md-padding" layout="row" flex="33">
				<p style="font-size: 14px;">Wireframe</p>
			</div>
			<div layout="row" flex="40" style="margin-top: 10px;">
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
			</div>
		</div>
		<div layout="row" style="margin-top: -32px;">
			<div class="md-padding" layout="row" flex="33">
				<p style="font-size: 14px;">Drawing</p>
			</div>
			<div layout="row" flex="40" style="margin-top: 10px;">
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
			</div>
		</div>
</div>
<md-divider></md-divider>
</md-tab>
<md-tab label="Strenght">
	<div layout="column" style="margin-top: 32px;">
		<div layout="row"  style="margin-top: -32px;">
			<div layout="row"  class="md-padding" flex="33">
				<p style="font-size: 14px;">Photoshop</p>
			</div>
			<div layout="row" flex="40" style="margin-top: 10px;">
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
			</div>
		</div>
		<div layout="row"  style="margin-top: -32px;">
			<div layout="row" class="md-padding" flex="33">
				<p style="font-size: 14px;">Illustrator</p>
			</div>
			<div layout="row" flex="40" style="margin-top: 10px;">
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
			</div>
		</div>
		<div layout="row" style="margin-top: -32px;">
			<div layout="row"  class="md-padding" flex="33">
				<p style="font-size: 14px;">Sketchking</p>
			</div>
			<div layout="row" flex="40" style="margin-top: 10px;">
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
			</div>
		</div>
		<div layout="row" style="margin-top: -32px;">
			<div  class="md-padding" layout="row" flex="33">
				<p style="font-size: 14px;">Wireframe</p>
			</div>
			<div layout="row" flex="40" style="margin-top: 10px;">
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
			</div>
		</div>
		<div layout="row" style="margin-top: -32px;">
			<div class="md-padding" layout="row" flex="33">
				<p style="font-size: 14px;">Drawing</p>
			</div>
			<div layout="row" flex="40" style="margin-top: 10px;">
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: black; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
				<md-icon style="color: #9E9F9E; font-size: 12px;" class="material-icons">&#xE3FA;</md-icon>
			</div>
		</div>
	</div>
	<div style="margin-top: -27px; margin-left: -8px;">
	<md-button md-no-ink><span style="color: gray">Show all</span></md-button>
</div>
<md-divider></md-divider>
</md-tab>
</md-tabs>
	<md-subheader style="color: black; font-weight: normal; font-size: 12px; z-index: 0;">Stefano is in organ. <br> Member since 19/02/2014 <br> First activity was 15/03/2014</md-subheader><!--quale dato è da inserire?-->
	<md-card>
		<md-card-header>
			<md-card-header-text>
				<span class="md-subheader" style="color: black; font-weight: 300;"> AVAIBLE CREDIT
					<span class="md-title" style="margin-left: 10px;"> 1050 <!-- dato da inserire-->
				 </span>
				 <span class="md-subheader" style="color: black; font-weight: 300; margin-top: 14px;"> TOTAL GENERATED CREDIT
 					<span class="md-title" style="margin-left: 10px;"> 15.350 <!-- dato da inserire-->
 				 </span>
			</md-card-header-text>
		</md-card-header>
				<md-card-content layout="row" style="margin-top: -12px; padding-left:5px; padding-right: 5px;">
					<div flex="33" layout="column">
						<center>
							<span class="md-subheader" style="color: black; font-weight: 300;">LAST 3 MONTHS</span>
							<span class="md-title">2.551 <!--dato da inserire --></span>
						</center>
					</div>
					<div flex="33" layout="column">
						<center>
							<span class="md-subheader" style="color: black; font-weight: 300;">LAST 6 MONTHS</span>
							<span class="md-title">3.750 <!--dato da inserire --></span>
						</center>
					</div>
					<div flex="33" layout="column">
						<center>
							<span class="md-subheader" style="color: black; font-weight: 300;">LAST 12 MONTHS</span>
							<span class="md-title">8.560 <!--dato da inserire --></span>
						</center>
					</div>
				</md-card-content>
	</md-card>
	<md-card>
		<md-card-header>
			<md-card-header-text>
					<span class="md-subheader" style="color: black; font-weight: 200;"> ITEM CONTRIBUTION </span>
					<div layout="row" style="margin-top: -14px;">
							<span class="md-subheader" style="color: black; font-weight: 200; margin-top: 30px; margin-right: 2px;"> FROM</span>
							 <md-select style="z-index: 0;" ng-model="fromdate" placeholder="insert date">
								 <md-option> 12/02/1016 </md-option>
								 <md-option> 23/01/1016 </md-option>
							 </md-select>
							 <span flex></span>
							 <span class="md-subheader" style="color: black; font-weight: 200; margin-top: 30px; margin-right: 2px;"> TO</span>
 							 <md-select ng-model="todate" style="z-index: 0;" placeholder="insert date">
 								 <md-option> 12/02/1016 </md-option>
 								 <md-option> 23/01/1016 </md-option>
 							 </md-select>
					</div>
					<div layout="row" style="margin-right: 10%; margin-top: -6px;" >
						<span style="font-size: 14px; font-weight: 500;" flex><center>owned</center></span>
						<span style="font-size: 14px; font-weight: 500;" flex><center>item id</center></span>
						<span style="font-size: 14px; font-weight: 500;" flex><center>status</center></span>
						<span style="font-size: 14px; font-weight: 500;" flex><center>credit</center></span>
						<span style="font-size: 14px; font-weight: 500;" flex><center>distance</center></span>
					</div>
					<md-divider style="margin-right:16px; margin-top: 8px"></md-divider>
					<div layout="row" style="margin-right: 10%; margin-top: 8px;" > <!--dati da inserire-->
						<span style="font-weight: 300; font-size: 12px;" flex><center>&#x2713;</center></span>
						<span style="font-weight: 300; font-size: 12px;" flex><center>120</center></span>
						<span  style="line-height: 12px; font-weight: 300; font-size: 12px;" flex><center>in progress</center></span>
						<span style="font-weight: 300; font-size: 12px;" flex><center>300</center></span>
						<span style="font-weight: 300; font-size: 12px;" flex><center>-5.00%</center></span>
					</div>
					<div layout="row" style="margin-right: 10%; margin-top: 8px;" > <!--dati da inserire-->
						<span style="font-weight: 300; font-size: 12px;" flex><center>-</center></span>
						<span style="font-weight: 300; font-size: 12px;" flex><center>120</center></span>
						<span  style="line-height: 12px; font-weight: 300; font-size: 12px;" flex><center>in progress</center></span>
						<span style="font-weight: 300; font-size: 12px;" flex><center>300</center></span>
						<span style="font-weight: 300; font-size: 12px;" flex><center>-5.00%</center></span>
					</div>
			</md-card-header-text>
		</md-card-header>
	</md-card>
	<div style="height: 48px;">
	</div>
