<div layout="row" class="md-padding">
	<div>
		<img alt="{{ profile.firstname }} {{ profile.lastname }}" ng-src="{{ profile.picture }}" style="border-radius: 50%" />
	</div>
	<div layout="column" layout-padding>
		<div class="md-headline">{{ profile.firstname }} {{ profile.lastname }}</div>
		<p style="margin: 0">
			{{ profile.role }} since {{ profile.createdAt | date : 'longDate' }}
		</p>
	</div>
</div>
<md-list>
	<md-list-item class="md-2-line">
		<md-icon md-svg-icon="credits" class="md-avatar-icon"></md-icon>
		<div class="md-list-item-text">
			<h3>{{ credits.total | number }}</h3>
			<p>Generated Credits</p>
		</div>
	</md-list-item>
	<md-list-item class="md-2-line">
		<md-icon md-svg-icon="credits" class="md-avatar-icon"></md-icon>
		<div class="md-list-item-text">
			<h3>{{ credits.balance | number }}</h3>
			<p>Available Credits</p>
		</div>
	</md-list-item>
	<md-list-item class="md-2-line">
		<md-icon md-svg-icon="credits" class="md-avatar-icon"></md-icon>
		<div class="md-list-item-text">
			<h3>{{ credits.last3M | number }}</h3>
			<p>Last 3 months</p>
		</div>
	</md-list-item>
	<md-list-item class="md-2-line">
		<md-icon md-svg-icon="credits" class="md-avatar-icon"></md-icon>
		<div class="md-list-item-text">
			<h3>{{ credits.last6M | number }}</h3>
			<p>Last 6 months</p>
		</div>
	</md-list-item>
	<md-list-item class="md-2-line">
		<md-icon md-svg-icon="credits" class="md-avatar-icon"></md-icon>
		<div class="md-list-item-text">
			<h3>{{ credits.last1Y | number }}</h3>
			<p>Last year</p>
		</div>
	</md-list-item>
</md-list>
<h3 class="md-padding">Task contribution</h3>
<form novalidate ng-submit="initTasks()">
	<div layout layout-sm="column">
		<md-datepicker ng-model="filters.startOn" md-placeholder="From"></md-datepicker>
		<md-datepicker ng-model="filters.endOn" md-placeholder="To"></md-datepicker>
		<md-button type="submit" class="md-raised">Search</md-button>
	</div>
</form>
<md-divider></md-divider>
<md-list>
	<md-list-item class="md-2-line">
		<md-icon md-svg-icon="check" class="md-avatar-icon"></md-icon>
		<div class="md-list-item-text">
			<h3>{{ stats.membershipsCount | number : 0 }}</h3>
			<p>Task Memberships</p>
		</div>
	</md-list-item>
	<md-list-item class="md-2-line">
		<md-icon md-svg-icon="check" class="md-avatar-icon"></md-icon>
		<div class="md-list-item-text">
			<h3>{{ stats.ownershipsCount | number:0 }}</h3>
			<p>Owned Tasks</p>
		</div>
	</md-list-item>
	<md-list-item class="md-2-line">
		<md-icon md-svg-icon="check" class="md-avatar-icon"></md-icon>
		<div class="md-list-item-text">
			<h3>{{ stats.creditsCount | number:2 }}</h3>
			<p>Earned Credits</p>
		</div>
	</md-list-item>
	<md-list-item class="md-2-line">
		<md-icon md-svg-icon="check" class="md-avatar-icon"></md-icon>
		<div class="md-list-item-text">
			<h3>{{ stats.averageDelta | percentage:2:true }}</h3>
			<p>Auto-assessment gap</p>
		</div>
	</md-list-item>
</md-list>
<md-list>
	<md-list-item data-ng-repeat="task in tasks._embedded['ora:task']" ng-init="show = isAllowed('showShares', task)" ng-class="{'md-3-line': show, 'md-2-line': !show}">
		<div class="md-list-item-text" ui-sref="org.item({ orgId: currOrg.id, taskId: task.id })">
			<h3>
				{{ task.subject }}
				<md-icon md-font-icon="star" class="material-icons" ng-if="isOwner(task)" title="owner" style="font-size: 16px">&#xE838;</md-icon>
			</h3>
			<h4 ng-if="show">Earned Credits: {{ getCredits(task) | number }}<span ng-if="getShare(task)">, Team evaluated contribution: {{ getShare(task) | percentage:2 }}</span><span ng-if="getDelta(task)"> (Auto-assessment: {{ getDelta(task) | percentage:2:true }})</span></h4>
			<p>{{ task.status | taskStatusLabel }}</p>
		</div>
	</md-list-item>
</md-list>
<div class="md-padding">{{ tasks.count }} of {{ tasks.total }} <md-button ng-if="tasks.count < tasks.total" ng-click="loadMore()">More</md-button></div>
