<md-dialog aria-label="New Deposit">
	<form name="form" ng-submit="dialogCtrl.submit()" novalidate>
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				<h4>New Deposit</h4>
				<md-input-container>
					<label>Credits</label>
					<input type="number" min="0" required data-ng-model="deposit.amount" name="amount">
					<div ng-messages="form.amount.$error" role="alert">
						<div ng-message="required">Credits is required</div>
						<div ng-message="min">Credits must be greater than 0</div>
						<div ng-message="remote">{{ form.amount.$error.remote }}</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Description</label>
					<input type="text" maxlength="256" data-ng-model="deposit.description" name="description">
					<div ng-messages="form.stream.$error" role="alert">
						<div ng-message="maxlength">Description can be 256 characters long at most</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" layout-align="end center">
			<md-button type="button" ng-click="dialogCtrl.cancel()">Cancel</md-button>
			<md-button type="submit" style="margin-right:20px;" class="md-primary" ng-disabled="form.$invalid">Confirm</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
