<md-card>
	<md-card-content>
		<div layout="row">
			<div class="md-title">Transactions</div>
			<span flex></span>
			<div class="md-title">Actual Balance: {{ statement.transactions[0].balance || 0 | number:2 }}</div>
		</div>
		<table class="transactions">
			<thead>
				<tr>
					<th style="text-align: left">Date</th>
					<th style="text-align: left">Ref</th>
					<th style="text-align: left">Description</th>
					<th style="text-align: right">Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="transaction in statement.transactions">
					<td style="white-space: nowrap; vertical-align: top">{{ transaction.date | date:short }}</td>
					<td style="white-space: nowrap; vertical-align: top">{{ transaction.type | transactionSource:transaction.payer:transaction.payee }}</td>
					<td>{{ transaction.description }}</td>
					<td style="text-align: right; vertical-align: top" ng-style="transaction.amount < 0 ? { color : 'Red' } : {}">{{ transaction.amount | number:2 }}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr ng-if="statement.total > statement.count">
					<td colspan="4" style="text-align: center"><mdbutton ng-click="ctrl.loadMore()">More</mdbutton></td>
				</tr>
				<tr>
					<td style="text-align: right; font-weight: bold" colspan="3">Initial Balance: </td>
					<td style="text-align: right">{{ ctrl.getInitialBalance() | number:2 }}</td>
				</tr>
			</tfoot>
		</table>
	</md-card-content>
</md-card>